@import url('reset.css');
@import url('utility.css');




/* Body */
body{
    background: linear-gradient(180deg, var(--background-clr)40%, var(--clr-white)50%, var(--background-clr));
    font-family: var(--ff-secondary);
    position: relative;
}
/* Body */

/* Main */
main{
    /* padding-inline: 2rem; */
    margin-inline: auto;
}

/* Hero section */
main .hero-section{

}
main .hero-section .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin: 5rem auto;
    width: min(100% - 2rem, 1200px);
}
main .hero-section .wrapper .cta-link2{
    background: var(--clr-white);
    border-radius: var(--br-3);
    padding-right: var(--padding1);
    padding-top: var(--padding1);
    padding-bottom: var(--padding1);
    font-family: var(--ff-primary);
    font-size: var(--fs-sm);
    box-shadow: var(--shadow-md);
}
main .hero-section .wrapper .cta-link2:hover a span.cta{
    text-decoration: underline;
}

main .hero-section .wrapper .cta-link2 a{
    text-align: center;
    text-decoration: none;
    color: var(--text-clr-2);
}
main .hero-section .wrapper .cta-link2 a span.intro{
    background: var(--primary-clr-100);
    padding: 10px var(--padding3);
    border-radius: var(--br-3);
    color: var(--clr-white);
}
main .hero-section .wrapper .cta-link2:hover a span.intro{
    text-decoration: dotted;
}

main .hero-section .wrapper .cta-link2 a .fa-chevron-right{
    font-size: var(--fs-sml);
    transition: transform 200ms ease;
}
main .hero-section .wrapper .cta-link2:hover .fa-chevron-right{
    transform: translateX(3px);
}


main .hero-section .wrapper .hero-heading h1 {
    margin: 1.5rem auto;
    font-weight: var(--fw-regular);
    letter-spacing: 1px;
    line-height: 1.05;
    text-align: center;
    text-wrap: balance;
}
main .hero-section .wrapper .hero-text{
    color: var(--text-clr-1);
    font-weight: var(--fw-regular);
    font-family: var(--ff-primary);
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.7;
    text-wrap: pretty;
    text-align: center;
    width: min(100%, 700px);
    margin-inline: auto;
}
main .hero-section .wrapper .cta-links{
    font-family: var(--ff-primary);
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    margin: 1rem;
}
main .hero-section .wrapper .cta-links .cta-link3{
    text-decoration: none;
    padding: var(--padding1x) var(--padding2);
    font-size: var(--fs-rg);
    font-family: var(--ff-primary);
    border-radius: var(--br-2);
}
main .hero-section .wrapper .cta-links .free{
    background: var(--clr-white);
    border: 2px solid var(--primary-clr-100);
    color: var(--text-clr-2);
}
main .hero-section .wrapper .cta-links .free:hover{
    color: var(--clr-white);
    background: var(--primary-clr-100);
}       
main .hero-section .wrapper .cta-links .pricing{
    background: var(--primary-clr-300);
    color: var(--clr-white);
}
main .hero-section .wrapper .cta-links .pricing:hover{
    background: var(--primary-clr-100);
}
/* Main */